
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    background-color: #0274b2;
    color: #fff;
    padding: 15px;
    width: 100%;
}
.title h1{
    margin: 0;
    text-shadow: 1px 1px 1px #fff;
}

.players{
    padding: 15px;
}
.players ul{
    list-style-type: square;
}
.subheader{
    font-size: 1.2em;
    display: inline-block;
}
.float-right{
    float: right;
    width: 20%;
}
.player-name{
    width: 80%;
}
.table-wrap{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #cecece;
    border-radius: 8px;
    margin-bottom: 3px;
}
table{
    width: 100%;
}
